#isstab{
   -fx-background-image: url("/Library_Management/login_background.jpg");   
    
}

#MemId{
    -fx-background-image: url("/Library_Management/login_background.jpg");
    -fx-text-fill: #E0E0E0;
    
    
}

#BookId{
   
    -fx-background-image: url("/Library_Management/login_background.jpg");
    -fx-text-fill: #E0E0E0;
    
    
}

#gomain{
   -fx-font-size: 14px;
   -fx-background-color:#5C6BC0; 
    
}

#gomain:hover{
    
    -fx-background-color:#BF360C; 
}



#view{
    
   -fx-font-size: 14px;
   -fx-background-color:#5C6BC0;  
    
}

#view:hover{
    
    -fx-background-color:#2E7D32;    
    
}

