
#back_image{
    -fx-background-image: url("/Library_Management/library_background.jpg");
    
    
}

#Loginpage{
    -fx-font-size: 18px;
    -fx-font_weight:bold;
    
     
    
}

#username{
    -fx-font-size: 16px;
    -fx-font_weight:bold;
    -fx-font-color: #FAFAFA;
    
}

#password{
    
    -fx-font-size: 16px;
    -fx-font_weight:bold;
    -fx-font-color: #FAFAFA;
    
    
}

#submitButton{
   -fx-font-size: 14px;
   -fx-border-color: #26C6DA;
   -fx-border-radius:22;
   -fx-background-radius:22;
   -fx-background-color:#212121;
    
    
}


#submitButton:hover{
    
    -fx-border-color: #558B2F;
    -fx-font_weight:bold;
   
    
    
}

#Lib_Management{
    
    -fx-font_weight:bold;
    -fx-font-size: 20px;
    -fx-font-family:"Bookman Old Style";
    
    
}


.mainFxmlClass {
    
    -fx-background-image: url("/Library_Management/login_background.jpg");

}
